[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
gunicorn = "*"
redis = "*"
celery = {extras = [ "redis",]}
yt-dlp = "*"

[dev-packages]

[requires]
python_version = "3.8"
