<!--
	Copyright 2022 Steven Su

	This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

	This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>YTDownloader - Home</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <script src="https://kit.fontawesome.com/dc1b15ec23.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <nav class="navbar is-info py-2 px-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                ytdownloader
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu pr-6 py-3">
            <div class="navbar-start">
                <a class="navbar-item white" href="/">Home</a>
            </div>
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <div class="columns is-centered is-multiline">
                <div class="column is-two-thirds-desktop is-full">
                    <div class="box">
                        <div class="container content has-text-centered">
                            <h1 class="title is-1">Home</h1>
                        </div>
                        <div class="container content">
                            <p class="is-size-5">Welcome to ytdownloader! This is an open-source web application that
                                allows you to download videos and/or extract audio from YouTube videos. The source code
                                to this website is open-sourced at <a href="https://github.com/lakewood999/ytdownloader">Github</a> and <a href="https://git.stevensu.dev/lakewood999/ytdownloader">Gitlab</a>. Developed and maintained by Steven Su.</p>
                        </div>
                    </div>
                </div>
                <div class="column is-two-thirds-desktop is-full">
                    <div class="box">
                        <div class="container content">
                            <h2 class="is-title is-2">Download YouTube Videos</h2>
                            <div id="download_form"></div>
                        </div>
                        <div class="content container">
                            <h2 class="is-title is-2">Instructions</h2>
                            <p>
                            <ol>
                                <li>Copy and paste your YouTube URL into the box above. (To get the URL on the mobile
                                    YouTube app, click on Share -> Copy Link and return to this website)</li>
                                <li>Choose whether you want video or audio-only by using the dropdown next to the URL box.</li>
                                <li>Choose other download options such as quality and encoding. Note: this is currently not implemented. Options for
                                    video/audio and quality will be added later.</li>
                                <li>Press the "Download" button to start the download process. This will start a
                                    download request in the server processing chain and as soon as resources are
                                    available, your YouTube video will be downloaded, processed, and then sent to this
                                    client. Please note that depending on the server load, you may have to wait for some
                                    time. A status window will appear below the form so that you can check your
                                    progress.</li>
                                <li><b>Note: The download percentage may loop around after reaching 100% if you choose the "Audio + Video" option</b></li>
                            </ol>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/static/js/vendors.min.js" type="module" async></script>
    <script src="/static/js/app.min.js" type="module" async></script>
</body>

</html>
